*{
   margin: 0;
   padding: 0; 
   color: #fff;
   outline: none;
  
}
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #896ffd;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
    color: #333;
}
.banner{
    background-color: rgb(0, 0, 59);
    height: 80vh;
    width: 50vw;
    margin-top: 2em;
    padding: 3em;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 90%;
    height: max-content;
    margin-top: 50px;
    border-radius: 10px;
    padding: 2em;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;}

   
.inbtn{
    margin-top: 50px;
    display: flex;
    width: 100%;
    padding: 20PX 0;
    border-bottom: #7700ff solid 2px;
    border-radius: 5px;
   
}
#text-input{
    border-radius: 5px;
    background-color: transparent;
    width: 35vw;
    font-size: 40px;
    color: #333;
    border: none;
}
#check-btn{
    padding: 1em 2em;
    background-color: #7700ff;
    margin-left: 5px;
    border-radius: 5px;
}
#result{
    background-color: #7700ff;
    width: 90%;
    word-wrap: break-word;
    padding: 30px;
    font-size: 40px;
    overflow-y:scroll ;
    border-radius: 10px;
}
::-webkit-scrollbar{
    scale: 0;
}
.hide{
    scale: 0;
}