// ============
.AboutUS {
    padding: 2rem 5rem;
    color: var(--white);
    position: relative;
}
.AboutUS-TEXT{
    font-size: clamp(16px,2vw,25px);
    padding: 2rem 0;
}
.AboutUS::after{
    content: '';
    position: absolute;
    top:1rem;
    right: 1rem;
    width: clamp(150px,15vw,300px);
    aspect-ratio: 1/1;
    background-image: url('../image/spans/span-ICE.png'); 
    background-size: cover; 
    background-position: center;  
}
.AboutUS::before{
    content: '';
    position: absolute;
    top:0%;
    transform: translateY(-100%);
    right: 10%;
    width: clamp(100px,60vw,600px);
    aspect-ratio: 2/1.1;
    background-image: url('../image/spans/span-gate.png'); 
    background-size: cover; 
    background-position: center;  
}



// ==================
.characters{
    background-color:var(--red);
    width: 100%;
    height: 100%;
   
    .character{
        background-color: var(--white);
        position: relative;
        background-color: var(--white);
        height: max-content;
        .characterIMG-2{
            position: relative;
            width: clamp(500px,80vw,800px);
            aspect-ratio: 1 / 1;
            left: 0%;
            transition: .6s;
        }
        .characterIMG-1{
            position: absolute;
            background-position: center;
            background-size: cover;  
            mask-image: linear-gradient(
            to bottom,
            transparent,
            var( --black)
            50% 70%,
            transparent
        );
            width: 700px;
            aspect-ratio: 1/1;
            right: 30%;
            top: 10%;
            transform: translateX(50%)  scaleX(-1);
            filter: grayscale(1);
            opacity: .5;
    }
        .wellcome{
            backdrop-filter: blur(20px);
            font-size: clamp(20px,2vw,40px);
            position: absolute;
            bottom:24%;
            right:15%;
            padding: .5rem;
            border-radius: 50px;
            color:var(--white);
            -webkit-text-stroke: 1px var( --black);
        }
        .part-1{
            display: flex;
            flex-grow: 1;
            height: 500px;
            .text{
                height: 100%;
                width: 100%;
                padding:5rem 0 0 3rem ;
                h3{
                   font-size: clamp(25px,5vw,60px); 
                   color: var(--red);
                }
                p{
                    font-size: clamp(15px,3vw,30px); 
                    text-wrap: pretty;
                }
           }

            .test{
                display: flex;
                align-items: center;
                justify-content: end;
                left: clamp(1.5rem,5vw,2rem);
                position: relative;
                top: 20%;
                height: 100%;
                width: 100%;
            
                .Base-Circle{
                    position: relative;
                    background-color: var(--red);
                    width: clamp(150px,30vw,250px);
                    height: clamp(150px,30vw,250px);
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    // border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: clamp(100px,23vw,220px);
                    }
                }
                .circle{
                    position: absolute;
                    width: clamp(90px,12vw,110px);
                    height: clamp(90px,12vw,110px);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    animation: gravity 15s linear infinite;
                    animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1)) !important;
                    transition: .5s;
                    cursor: pointer;
                    img{
                        width: clamp(70px,7vw,120px);
                        animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1)) !important;;
                        animation: stayInPosition 15s linear infinite;
                        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
                    }
                }
            }
        }
    }}

//=======================================
.ProdusedInfo{
    background-color: var(--white);
    position: relative;
    height: max-content;
    width: 100%;
    .info{
        z-index: 100;
        h2:first-child{
            color:var(--red);
        }
        p{
            font-size: clamp(16px,2vw,25px);
            margin-top: 3rem;
            padding-right: 2rem;

        }
    }


    .character-bg{
        position: absolute;
        background: url(../image/background-2.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        mask-image: linear-gradient(
        to bottom,
        transparent,
        var( --black)
        50% 70%,
        transparent
    );
        
        right: 50%;
        top: 0%;
        transform: translateX(50%)  scaleX(-1);
        filter: grayscale(1);
        opacity: .5;
    }
}
//=======================================
.warrior-Images {
    --width: clamp(50px,15vw,100px);
    display: flex;
    width: calc(var(--quantity) * var(--width));
    position: relative;
    gap: 1rem;

    div {
        background-color: gray;
         
        width: var(--width);
        height: clamp(400px,30vw,550px);
        position: relative;
        overflow: hidden;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        transition: .7s;
        z-index: var(--position) ;

        img {
            height: 100%;
            position: relative;
            right: 60px;
            transition: .7s;   
        }
        
    }
    div:hover{
        width: 500px;
    }
    div:nth-child(5){
        width: 500px;
    }
    
}

.warrior-Images:has(div:hover) div:nth-child(5){
    width: var(--width);
}
.warrior-Images:has(div:hover) img {
    right: 170px;
}
.warrior-Images:has(div:first-child:hover) img{
    right: 200px;
}