@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*,*::before,*::after{
    margin:0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    position: relative;
    color: black;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    background: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
}
.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner .product{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    /* translateX(-50%) 50 darsad az obj  */
    z-index: 1;
    --left: 0px;
    transition: .7s;
    display: flex;
}

.banner .product .soda{
    background: 
        var(--url) var(--left) 0,
        url(../image/soda-mockup.png);
        background-size: auto 100%;
        /* background-repeat: no-repeat; */
        width: 200px;
        aspect-ratio: 2 / 4;

        background-blend-mode: multiply;
        mask-image: url(../image/soda-mockup.png);
        mask-size: auto 100%;
        mask-repeat: no-repeat;
        transition: .7s;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.banner .product:hover{
    --left:-400px;
    transform: translateX(-50%) translateY(-20px) scale(1.1);
}
.banner .rock{
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    
}
.banner .rock img{
    position: absolute;
    transition: .7s;
}

.banner .rock img:nth-child(1){
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px);
}

.banner .rock img:nth-child(2){
    height: 600px;
    left: 0%;
    transform: translateX(-50%) translateY(50px);
    bottom: 0px;
    z-index: -1;
    
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(0%) translateY(0px);

}

.banner .rock img:nth-child(3){
    height: 600px;
    right: 0%;
    transform: translateX(50%) translateY(50px);
    bottom: 0px;
    z-index: -2;
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(0%) translateY(0px);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
}
.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}

/* =================================== */
.custom-navbar{
    background-color: transparent;
}

.navbar-brand{
    font-size: clamp(20px,5vw,50px);
}

#logo{
    width: 50px;
    height: 50px;

}
/* .span-1{
    position: absolute;
    background: url(../image/span-1.png);
    background-position: center;
    background-size: cover;
    width:clamp(50px,10vw,100px) ;
    height:clamp(200px,30vw,500px) ;

    right: 10%;
    top: 0%;
}

.span-2{
    position: absolute;
    background: url(../image/span-2.png);
    background-position: center;
    background-size: cover;
    height:clamp(50px,10vw,80px) ;
    width:clamp(300px,30vw,550px) ;

    left: 3rem;
    top: 13%;
}

.span-3{
    position: absolute;
    background: url(../image/span-3.png);
    background-position: center;
    background-size: cover;
    
}
.span-4{
    position: absolute;
    background: url(../image/span-4.png);
    background-position: center;
    background-size: cover;
    height:clamp(20px,10vw,50px) ;
    width:clamp(200px,30vw,450px) ;
    left: 3rem;
    top: 5rem;
}
*/
@media (max-width:1200px){
    .span-4{
        display: none;
    }
    .banner:has(.product:hover) .rock img:nth-child(2){
        filter: blur(1px);
    }

    .banner:has(.product:hover) .rock img:nth-child(3){
        filter: blur(2px);
    }
    
}