@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*,*::before,*::after{
    margin:0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    position: relative;
    color: black;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.Base{
    width: 1500px;
    height: 100%;
    overflow: hidden;
}

.banner{
    width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), 
    url('../image/background.jpg');
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
  transition: .7s;

} 

.banner:has(.product:hover){
    background-size: 130%;
}

.banner .product{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: clamp(100px,7.5rem,150px);
    left: 50%;
    transform: translateX(-50%);
    /* translateX(-50%) 50 darsad az obj  */
    z-index: 1;
    --left: 0px;
    transition: .7s;
    display: flex;
    display: grid;
    align-items: end;
    width: fit-content;

    z-index: 1000;
}

.banner .product .soda{
    background: 
        var(--url) var(--left) 0,
        url(../image/soda-mockup.png);
        background-size: auto 100%;
        /* background-repeat: no-repeat; */
        width: clamp(150px,25vw,200px);
        aspect-ratio: 2 / 4;

        background-blend-mode: multiply;
        mask-image: url(../image/soda-mockup.png);
        mask-size: auto 100%;
        mask-repeat: no-repeat;
        transition: .7s;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.banner .product:hover{
    --left:-410px;
    transform: translateX(-50%) translateY(-50px) scale(1.1);
}

/* ========= ROCK */
.banner .rock{
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    
}
.banner .rock img{
    position: absolute;
    transition: .7s;
    bottom: 0px;
    height: clamp(400px,50vw,600px);
}

.banner .rock img:nth-child(1){
    height: clamp(250px,40vw,300px) !important;
    left: 50% ;
    transform: translateX(-50%);
    bottom: -50px ;
    z-index: 100;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px) scale(.8);
}

.banner .rock img:nth-child(2){
    left: 0%;
    transform: translateX(-50%) translateY(50px);
    z-index: 2;
}
.banner .rock img:nth-child(3){
    right: 0%;
    transform: translateX(50%) translateY(50px);
    z-index: 1;
}
.banner:has(.product:hover) .rock img:nth-child(3),
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(0%) translateY(0px);
}

.banner .rock img:nth-child(4){
    right: 0%;
    transform: translateX(55%) translateY(50px);
    z-index: 10;
}
.banner .rock img:nth-child(5){
    left: 0%;
    transform: translateX(-55%) translateY(50px) ;
    z-index: 10;
}
.banner:has(.product:hover) .rock img:nth-child(4),
.banner:has(.product:hover) .rock img:nth-child(5){
    transform: translateX(0%) translateY(100px) scale(.7);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
}
.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}

/* =================================== */
.custom-navbar{
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.navbar-brand{
    font-size: clamp(30px,5vw,100px);
}

#logo{
    width: clamp(50px,10vw,100px);
    height: clamp(50px,10vw,100px);
}
.span-1{
    position: absolute;
    background: url(../image/spans/span-5.png);
    background-position: center;
    background-size: cover;
    width:clamp(50px,15vw,100px) ;
    aspect-ratio: 1/4.7;

    right: 2%;
    top: 3%;
}

.span-2{
    position: absolute;
    background: url(../image/spans/span-7.png);
    background-position: center;
    background-size: cover;
    width:clamp(50px,15vw,100px) ;
    aspect-ratio: 1/4.7;

    left: 2%;
    top: 3%;
    
}


@media (max-width:1200px){
    .span-4{
        display: none;
    }
    .banner:has(.product:hover) .rock img:nth-child(2){
        filter: blur(1px);
    }

    .banner:has(.product:hover) .rock img:nth-child(3){
        filter: blur(2px);
    }
    
}

/* ======================================= */
.slider{
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 30% 70%,
        transparent
    );
    
}
.slider .list{
    position: relative;
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    height: var(--height);
}
.slider .list .item{
    display: grid;
    place-items: center;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 15s linear infinite;
    animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1) ) !important;
    transition: filter .2s;
}
.slider .list .item img{
    width: 100%;
}

@keyframes autoRun {
    form{
        left:100%
    }to{
        left:calc( var(--width) * -1 );
    }
}

.slider:hover .item{
    animation-play-state:  paused !important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}

.slider[reverse="true"] .item{
    animation: reversePlay 15s linear infinite ;
}
.slider[reverse="true"] .item img{
    width: 150%;
    border-radius: 5px;
}

@keyframes reversePlay{
    from{
        left: calc( var(--width) * -1 ) ;
    }to{
        left: 100%;
    }
}